:root {
--msci_darker_background: #101010;
--msci_dark_background: #202020;
}

.msci 
{
    background-color: var(--msci_darker_background);
    font-family: Calibri;
    color: lightslategray;
}

.msci_title
{
    font-family: Calibri;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

/*search box*/
.search {
  display: grid;
  grid-template-columns: min-content min-content;
}

search_element {
  grid-column: 1/1;
  grid-row: 1;
}

/*autocomplete drop down box*/
.autocomplete {
    position: relative;
    display: inline-block;
  }

  .autocomplete_input{
    font-family: Calibri;
    font-size: 12pt;
    background-color: var(--msci_darker_background);
    color: lightslategray;
    border-width: 1px;
    border-style: solid;
    border-color: var(--msci_dark_background);
    width: 500px;
  }
  .autocomplete-items {
    position: static;
    border: 1px solid var(--msci_darker_background);
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    font-family: Calibri;
    font-size: 12pt;
    padding: 3px;
    cursor: pointer;
    background-color:var(--msci_dark_background); 
    border-bottom: 1px;
    border-color:var(--msci_dark_background);
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }